<!DOCTYPE html>
<html>
<head>
  <title>Pack</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag         'application' %>
</head>
<body>
  <%= render 'shared/header' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class='wrapper'>
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>
</html>
